canvas{
    margin-bottom: 20px;
}
#container {
    height: 100%;
    position: fixed;
    top: 0px;
    left: 55%;
}
.chat-input {
    width: 70%;
    height: 35px;
    border: solid 1px #444;
    border-radius: 10px;
}
.chat-submit {
    width: 50px;
    height: 35px;
    border: solid 1px #444;
    border-radius: 10px;
}
.chat-window {
    height: 600px;
}
#chatSection {
    float: left;
    border: 1px grey solid;
    border-radius: 10px;
    padding: 10px;
}

.text-align-right{
    text-align: right;

}
